
/* Your CSS Code here. */

.holder{
	display:flex;
	/* padding:20px;
	margin:20px; */
	justify-content:space-between;
	/* flex-direction:row-reverse; */
	flex-flow:wrap;
	
	
	
	
	
}
.item-1{
	/* border:2px solid black; */
	padding:30px;
	margin:10px;
	background-color:green;
	
}

.item-2{
	/* border:2px solid black; */
	padding:30px;
	margin:10px;
	background-color:orange;
}

.item-3{
	/* border:2px solid black; */
	padding:30px;
	margin:10px;
	background-color:blue;
}